.navbar{
    flex-direction: column;
    padding:0.5rem;
    }

.training .items{
    display: block;
}

.courses .flex-direction {
  flex-direction: column;
}

.nav{
    
    position: sticky;
    top: 0;
    z-index: 1;
   
}